div.card section.types {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	margin-bottom: 24px;
}

/* --------------------------------------------------------------------- */
div.dropdown {
	position: relative;
	display: inline-block;

	font-family: Lato, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;

	background: var(--binary);
	width: 100%;
	padding: 12px 16px;
	border-radius: 16px;
	box-shadow: var(--shadow-binary);

	margin-bottom: 24px;
}

div.dropdown div.dropdown-selected {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.dropdown span {
	flex: 1;

	padding-left: 16px;

	color: white;
	font-size: 20px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-weight: 500;

	cursor: pointer;
}

div.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	flex-direction: column;
	width: 100%;
	background: var(--background);

	border-radius: 8px;
	margin-top: 8px;

	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

div.dropdown-content a {
	padding: 12px 24px;
	color: var(--color);
	font-size: 20px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-weight: 500;

	transition: none;
	cursor: pointer;

	display: flex;
	align-items: center;

	background: var(--background);
}

div.dropdown-content a svg {
	margin-right: 16px;
}
path.base,
path.digit {
	fill: var(--color);
}

div.dropdown-content a:nth-child(1) {
	border-radius: 8px 8px 0 0;
}
div.dropdown-content a:last-child {
	border-radius: 0 0 8px 8px;
}

div.dropdown-content a:hover {
	filter: brightness(96%);
}
div.dropdown-content.visible {
	display: flex;
}

a.selected {
	cursor: default !important;
	filter: none !important;
	color: white !important;
}
a.selected path {
	fill: white !important;
}
a.selected.binary {
	background: var(--binary);
}
a.selected.decimal {
	background: var(--binary);
}
a.selected.octal {
	background: var(--octal);
}
a.selected.hexadecimal {
	background: var(--hexadecimal);
}

/** Dropdown */
select.dropdown {
	width: 100%;
	border: none;
	background-color: var(--binary);
	color: white;
	border-radius: 16px;
	box-shadow: var(--shadow-binary);

	font-family: Lato, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;

	padding: 12px 56px;
	appearance: none;

	cursor: pointer;

	background-position: 16px center, calc(100% - 16px) center;
	background-repeat: no-repeat, no-repeat;
}

/** Specific classes */
select.dropdown.binary {
	background-image: url(../../assets/base-2.svg),
		url(../../assets/arrow-down.svg);
	background-color: var(--binary);
}
select.dropdown.decimal {
	background-image: url(../../assets/base-10.svg),
		url(../../assets/arrow-down.svg);
	background-color: var(--decimal);
}
select.dropdown.octal {
	background-image: url(../../assets/base-8.svg),
		url(../../assets/arrow-down.svg);
	background-color: var(--octal);
}
select.dropdown.hexadecimal {
	background-image: url(../../assets/base-16.svg),
		url(../../assets/arrow-down.svg);
	background-color: var(--hexadecimal);
}

/** Option Styling */
option {
	width: 12rem;
	cursor: pointer;
	color: white;
	font-size: 20px;
	padding-top: 12px;
}
option p {
	margin-top: 12px;
}

option:disabled {
	background: black;
}

/* ---------------------------------------------------------------- */

div.from {
	margin-bottom: 24px;
}
div.from,
div.to {
	width: 100%;
}

/* ------------------------------------------------------------------ */
/** Reverse Button */
button.reverse {
	border-radius: 100rem;
	color: white;
	border: solid 2px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(180deg, var(--binary), var(--decimal));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;

	height: 48px;
	width: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

button.reverse path.binary {
	fill: var(--binary);
}
button.reverse path.decimal {
	fill: var(--decimal);
}
button.reverse path.octal {
	fill: var(--octal);
}
button.reverse path.hexadecimal {
	fill: var(--hexadecimal);
}
