section.formula h2 {
	margin-bottom: var(--margin-spacing-2);
}

section.formula p {
	margin-bottom: var(--margin-spacing-2);
}

section.formula p sub,
section.formula p sup {
	font-size: 10px;
}

section.formula svg {
	width: 100%;
	height: auto;
	margin-bottom: var(--margin-spacing-2);
}

section.formula svg line {
	stroke: var(--color);
}
section.formula svg path {
	fill: var(--color);
}
section.formula svg path.stroke {
	stroke: var(--color);
	fill: none;
}
section.formula svg rect {
	stroke: var(--color);
}

@media only screen and (min-width: 500px) {
	section.formula svg {
		padding: var(--margin-border) calc(var(--margin-border) * 2);
	}
}
@media all and (min-width: 968px) {
	section.formula svg {
		padding: var(--margin-border) calc(var(--margin-border) * 1.2);
	}
	section.formula svg.table {
		padding: 0;
	}
}
