section.formula h2 {
	margin-bottom: var(--margin-spacing-2);
}

section.formula p {
	margin-bottom: var(--margin-spacing-2);
}

section.formula p sub,
section.formula p sup {
	font-size: 10px;
}

section.formula svg {
	width: 100%;
	height: auto;
	margin-bottom: var(--margin-spacing-2);
}

section.formula svg line {
	stroke: var(--color);
}
section.formula svg path {
	fill: var(--color);
}
section.formula svg path.stroke {
	stroke: var(--color);
	fill: none;
}
section.formula svg rect {
	stroke: var(--color);
}

