article.formula h1 {
  margin-bottom: var(--margin-spacing-2);
}

article.formula h2 {
  margin-bottom: var(--margin-spacing-3);
}

article.formula img {
  margin-top: var(--margin-spacing-2);
  margin-bottom: var(--margin-spacing-1);
  width: 100%;
}