.typeText {
	text-decoration: underline;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
	cursor: pointer;

	display: none;
}

.dropdownSelected {
	width: 100%;
	background: var(--binary);
	box-shadow: var(--shadow-binary);

	font-family: Lato, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;

	color: white;
	border-radius: 16px;

	padding: 16px 24px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.dropdownSelected[data-type="Binary"] {
	background: var(--binary);
	box-shadow: var(--shadow-binary);
}
.dropdownSelected[data-type="Decimal"] {
	background: var(--decimal);
	box-shadow: var(--shadow-decimal);
}
.dropdownSelected[data-type="Octal"] {
	background: var(--octal);
	box-shadow: var(--shadow-octal);
}
.dropdownSelected[data-type="Hexadecimal"] {
	background: var(--hexadecimal);
	box-shadow: var(--shadow-hexadecimal);
}

.dropdownSelected span {
	flex: 1;
	margin-left: 12px;
	color: white;
}

.dropdownSelected img:nth-child(1) {
	width: 36px;
	height: auto;
}

.dropdownContent {
	margin-top: 4px;

	display: none;
	position: absolute;

	flex-direction: column;
	z-index: 100;

	width: 100%;
	background: var(--binary);
	box-shadow: var(--shadow-binary);

	border-radius: 8px;

	overflow: hidden;
}
.dropdownContent a {
	padding: 16px 24px;
	font-size: 16px;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-weight: 600;

	color: rgba(255, 255, 255, 0.6);

	display: flex;
	align-items: center;

	transition: 0.2s;
	width: 100%;
}
.dropdownContent a img {
	margin-right: 12px;
	width: 36px;
}
.dropdownContent a:hover {
	color: white;
	cursor: pointer;
}
.dropdownContent a.decimal {
	background: var(--decimal);
}

.dropdownContent[data-type="Binary"] {
	background: var(--binary);
	box-shadow: var(--shadow-binary);
}
.dropdownContent[data-type="Decimal"] {
	background: var(--decimal);
	box-shadow: var(--shadow-decimal);
}
.dropdownContent[data-type="Octal"] {
	background: var(--octal);
	box-shadow: var(--shadow-octal);
}
.dropdownContent[data-type="Hexadecimal"] {
	background: var(--hexadecimal);
	box-shadow: var(--shadow-hexadecimal);
}

.dropdownContent[data-type="Binary"] a:hover {
	background: var(--brighter-binary);
	box-shadow: var(--shadow-binary);
}
.dropdownContent[data-type="Decimal"] a:hover {
	background: var(--brighter-decimal);
	box-shadow: var(--shadow-decimal);
}
.dropdownContent[data-type="Octal"] a:hover {
	background: var(--brighter-octal);
	box-shadow: var(--shadow-octal);
}
.dropdownContent[data-type="Hexadecimal"] a:hover {
	background: var(--brighter-hexadecimal);
	box-shadow: var(--shadow-hexadecimal);
}

.selected {
	display: none !important;
}

.dropdownSelectWrapper {
	width: 100%;
}

.dropdownSelect {
	width: 100%;
	border: none;
	background-color: var(--binary);
	color: white;
	border-radius: 16px;
	box-shadow: var(--shadow-binary);

	font-family: Lato, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;

	appearance: none;
	padding: 12px 24px;
	
	text-align: center;
}

.dropdownSelect[data-type="Binary"] {
	background-color: var(--binary);
	box-shadow: var(--shadow-binary);
}
.dropdownSelect[data-type="Decimal"] {
	background-color: var(--decimal);
	box-shadow: var(--shadow-decimal);
}
.dropdownSelect[data-type="Octal"] {
	background-color: var(--octal);
	box-shadow: var(--shadow-octal);
}
.dropdownSelect[data-type="Hexadecimal"] {
	background-color: var(--hexadecimal);
	box-shadow: var(--shadow-hexadecimal);
}


.btnReverse {
	border-radius: 100%;
	border: solid 2px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(180deg, var(--decimal), var(--binary));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;

	height: 48px;
	width: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.binary {
	fill: var(--binary);
}
.decimal {
	fill: var(--decimal);
}
.octal {
	fill: var(--octal);
}
.hexadecimal {
	fill: var(--hexadecimal);
}

@media all and (min-width: 600px) and (max-width: 968px) {

}