.typeText {
	text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
	width: 100%;
}

.dropdownSelected {
	width: 100%;
	background: var(--binary);
	box-shadow: var(--shadow-binary);

	font-family: Lato, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;

	color: white;
	border-radius: 16px;

	padding: 16px 24px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdownSelected[data-type="Binary"] {
	background: var(--binary);
	box-shadow: var(--shadow-binary);
}
.dropdownSelected[data-type="Decimal"] {
	background: var(--decimal);
	box-shadow: var(--shadow-decimal);
}
.dropdownSelected[data-type="Octal"] {
	background: var(--octal);
	box-shadow: var(--shadow-octal);
}
.dropdownSelected[data-type="Hexadecimal"] {
	background: var(--hexadecimal);
	box-shadow: var(--shadow-hexadecimal);
}

.dropdownSelected span {
	flex: 1;
	margin-left: 12px;
	color: white;
}

.dropdownSelected img:nth-child(1) {
	width: 36px;
	height: auto;
}

.dropdownContent {
  display: none;
  position: absolute;

	flex-direction: column;
  z-index: 1;

	width: 100%;
	background: var(--decimal);
}

.dropdown.focus .dropdownContent {
  display: flex;
}