@import url(https://fonts.googleapis.com/css?family=Lato:regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700);

.light {
	/* Colors */
	--background: #f8f8f8;
	--decimal: #4e4e4e;
	--binary: #3786fb;
	--octal: #fcab4d;
	--hexadecimal: #f36161;
	--color: #000;

	/* Colors but Brighter */
	--brighter-decimal: #6b6b6b;
	--brighter-binary: #5592ee;
	--brighter-octal: #f5b974;
	--brighter-hexadecimal: #f08383;

	/* Shadows */
	--shadow-decimal: 0px 4px 16px 0px rgba(78, 78, 78, 0.6);
	--shadow-binary: 0px 4px 16px 0px rgba(55, 134, 251, 0.5);
	--shadow-octal: 0px 4px 16px 0px rgba(252, 171, 77, 0.6);
	--shadow-hexadecimal: 0px 4px 16px 0px rgba(243, 97, 97, 0.5);

	/* Card */
	--card-border: 1px solid rgba(0, 0, 0, 0.25);
	--card-background: #fff;
	--card-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
	--card-padding: 24px;

	/* Spacing */
	--margin-border: 24px;
	--margin-spacing-1: calc(var(--margin-border) / 2 + 16px);
	--margin-spacing-2: calc(var(--margin-border) / 2 + 8px);
	--margin-spacing-3: calc(var(--margin-border) / 2);
	--margin-card: 24px;

	/* Input */
	--input-border-initial: rgba(0, 0, 0, 0.4);
	--input-placeholder-color: rgba(0, 0, 0, 0.25);
	--input-selected-color: rgba(0, 0, 0, 0.6);
}

.dark {
	/* Colors */
	--background: #121212;
	--decimal: #2d2a2a;
	--binary: #1067e9;
	--octal: #eb8c1c;
	--hexadecimal: #e72c2c;
	--color: #fff;

	/* Shadows */
	--shadow-decimal: 0px 4px 16px 0px rgba(0, 0, 0, 0.4);
	--shadow-binary: 0px 4px 16px 0px rgba(0, 0, 0, 0.4);
	--shadow-octal: 0px 4px 16px 0px rgba(0, 0, 0, 0.4);
	--shadow-hexadecimal: 0px 4px 16px 0px rgba(0, 0, 0, 0.4);

	/* Card */
	--card-border: 1px solid rgba(255, 255, 255, 0.25);
	--card-background: #131313;
	--card-shadow: 0px 4px 16px 0px #00000080;
	--card-padding: 24px;

	/* Spacing */
	--margin-border: 24px;
	--margin-spacing-1: calc(var(--margin-border) / 2 + 16px);
	--margin-spacing-2: calc(var(--margin-border) / 2 + 8px);
	--margin-spacing-3: calc(var(--margin-border) / 2);
	--margin-card: 24px;

	/* Input */
	--input-border-initial: rgba(255, 255, 255, 0.4);
	--input-placeholder-color: rgba(255, 255, 255, 0.25);
}